<!doctype html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<style>
		.container {
			margin-top: 30px;
			display: flex;
			flex: 1;
			flex-direction: row;
			flex-wrap: wrap;
		}
		.item {
			width: 30vw;
			background-color: grey;
			padding: 10px;
			border: 1px solid black;
		}
		.hidden {
			display: none;
		}
		.error {
			background-color: rgba(255,0,23,0.58);
			color: #7e0019;
			padding: 20px;
		}
		input {
			width: 60vw;
			margin-bottom: 20px;
		}
		.delete {
			width: 20vw;
			margin-bottom: 20px;
		}
	</style>
</head>
<body>
	<p class="hidden error" id="error">Invalid!</p>
	<div class="container">
		<input type="text" id="code" disabled>
		<button class="delete">x</button>
		<button class="item number">1</button>
		<button class="item number">2</button>
		<button class="item number">3</button>
		<button class="item number">4</button>
		<button class="item number">5</button>
		<button class="item number">6</button>
		<button class="item number">7</button>
		<button class="item number">8</button>
		<button class="item number">9</button>
		<button class="item" id="cancel">Cancel</button>
		<button class="item number">0</button>
		<button class="item" id="validate">OK</button>
	</div>
	<script>
		const ipc = require('electron').ipcRenderer
		let input = document.querySelector("#code")
		let deleteBtn = document.querySelector(".delete")
		let error = document.querySelector("#error")
		let items = document.querySelectorAll(".number")
		let cancel = document.querySelector("#cancel")
		let validate = document.querySelector('#validate')
		items.forEach((item) => {
			item.addEventListener('click', (e) => {
				e.preventDefault()
				input.value += e.target.innerText
			})
		})
		cancel.addEventListener('click', (e) => {
			ipc.send('cancel')
		})
		validate.addEventListener('click', (e) => {
			ipc.once('errorReply', (e, response) => {
				if(error.classList.contains('hidden'))
					error.classList.remove('hidden')
			})
			error.classList.add('hidden')
			ipc.send('validate', {
				code: parseInt(input.value)
			})
		})
		deleteBtn.addEventListener('click', () => {
			input.value = ""
		})
	</script>
</body>
</html>