<!doctype html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>BD Ugo</title>
	<style>
		body {
			background-color: black;
			margin: 0;
			padding: 0;
			min-height: 100vh;
			overflow: hidden;
		}
		img {
			border: 5px solid white;
		}
	</style>
</head>
<body class="dragscroll">
	<script>
		const path = require('path')
		let base_path = path.dirname(__dirname).split('/')
		base_path.pop()
		base_path = base_path.join('/')
		const active = require(base_path + '/bds/active.json')
		const bd = require(`${base_path}/bds/${active.active}/${active.active}.json`)
		let body = document.querySelector('body')
		bd.forEach((image) => {
			let el = document.createElement("img")
			el.src = image.url
			el.style.position = "absolute"
			el.style.top = image.y + 'px'
			el.style.left = image.x + 'px'
			el.style.width = image.width + 'px'
			el.style.height = image.height + 'px'
			if(body.offsetWidth < image.x + image.width)
				body.style.width = image.x + image.width + 20 + "px"
			if(body.offsetHeight < image.y + image.height)
				body.style.height = image.y + image.height + 20 + "px"
			body.appendChild(el)
		})
	</script>
	<script type="text/javascript" src="../js/dragscroll.js"></script>
</body>
</html>