<!doctype html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>BD Ugo - Modification</title>
	<style>
		body {
			background-color: black;
			margin: 0;
			padding: 0;
			min-height: 1000vh;
			position: relative;
		}
		img {
			border: 5px solid white;
			transform: translate3D(0, 0, 0);
			transition: 0s;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
		}
		.active {
			z-index: 999;
		}
	</style>
</head>
<body>
<script>
	const active = require('../bds/active.json')
	const Drag = require('../js/Drag')
	const bd = require('../bds/' + active.active + '/' + active.active + '.json')
	let items = []
	bd.forEach((image) => {
		let el = document.createElement("img")
		el.src = image.url
		el.classList.add('img')
		el.style.transform = `translate3d(${image.x}, ${image.y}, 0)`
		el.style.width = image.width
		el.style.height = image.height
		document.body.appendChild(el)
		items.push(el)
	})
	new Drag(items, 'img')
</script>
</body>
</html>